.homebar {
	background: #4a5162;
	overflow: hidden;
}
.baroption {
	font-stretch: condensed;
	padding: 14px 20px;
	float: right;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
}
.baroption:hover {
	background: #5294e2;
}
.logobar {
	font-stretch: condensed;
	padding: 10px 10px;
	float: left;
	text-decoration: none;
	color:#7b808c;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}
.logo {
	height: 35px;
	float: left;
	overflow: auto;
}
.first_box {
	background: #7b808c;
	height: 350px;
	width: 400px;
	position: absolute;
	left:35%;
	margin: 20px;
	color: rgb(218, 217, 217);
}
.first_box a {
	text-decoration: none;
	color: rgb(218, 217, 218);
}
.footer {
	bottom:0;
	color:#7b808c;
	position: fixed;
	font-size: 13px;
}